.redactorSpace {
  position: relative;
}

.vuel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.433);
  width: 100%;
  height: 100%;
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop {
  border: 4px dashed white;
  cursor: move;
}
